footer.main-footer
  .main-footer__wrapper
    .main-footer__logo
      a(href="#")
        include /icons/logo-light
    .main-footer__main-nav.main-nav--footer
      ul.main-nav__list
        li.main-nav__item
          a(href="#") About
        li.main-nav__item
          a(href="#") Contact
    .main-footer__social.social
      ul.social__list
        li.social__item
          a(href="#") Facebook
            include /icons/facebook-icon
        li.social__item
          a(href="#") Twitter
            include /icons/twitter-icon
    p.main-footer__text Good Pill Pharmacy powered by
      span.main-footer__sirum-logo
        a(href="#")
          include /icons/sirum-logo-light