svg#Layer_1(width='213' version='1.1', xmlns:x='&ns_extend;', xmlns:i='&ns_ai;', xmlns:graph='&ns_graphs;', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 1920 590', style='enable-background:new 0 0 1920 590;', xml:space='preserve')
  style(type='text/css').
    .st0{fill:#B2FDFD;}
    .st1{fill:#FFF621;}
    .st2{fill:#2C28AC;}
  switch
    foreignobject(requiredExtensions='&ns_ai;', x='0', y='0', width='1', height='1')
      i:pgfref(xlink:href='#adobe_illustrator_pgf')
    g(i:extraneous='self')
      g
        path.st0(d='M810.14,178.91c22.78,0,45.55,7.43,64.12,20.92c19.16,13.92,32.99,33.28,40,55.99\
        c17.72,57.44-14.59,118.58-72.03,136.3c-10.5,3.24-21.33,4.88-32.18,4.88c-22.78,0-45.55-7.43-64.12-20.92\
        c-19.16-13.92-32.99-33.28-40-55.99c-17.72-57.44,14.59-118.58,72.03-136.3C788.46,180.56,799.29,178.91,810.14,178.91')
        path.st1(d='M476.99,167.04c2.46,0,4.9,0.63,7.06,1.84L577,220.74c4.51,2.51,7.35,7.28,7.43,12.44L586,339.61\
        c0.08,5.16-2.63,10.01-7.06,12.65l-91.39,54.58c-2.24,1.34-4.81,2.05-7.43,2.05c-2.46,0-4.9-0.63-7.06-1.84l-92.96-51.86\
        c-4.51-2.51-7.35-7.28-7.43-12.44l-1.57-106.44c-0.08-5.16,2.63-10.01,7.06-12.65l91.39-54.57\
        C471.8,167.75,474.37,167.04,476.99,167.04')
        g
          path.st2(d='M1482.74,143.81c-80.14,0-145.34,65.2-145.34,145.34v281.01c0,10.72,8.69,19.4,19.4,19.4\
          s19.4-8.69,19.4-19.4V387.88c26.56,28.64,64.48,46.61,106.53,46.61c80.14,0,145.34-65.2,145.34-145.34\
          C1628.08,209.01,1562.88,143.81,1482.74,143.81z M1482.74,395.68c-58.74,0-106.53-47.79-106.53-106.53\
          c0-58.74,47.79-106.53,106.53-106.53c58.74,0,106.53,47.79,106.53,106.53C1589.27,347.89,1541.48,395.68,1482.74,395.68z')
        g
          path.st2(d='M1697.78,230.28c-10.72,0-19.4,8.69-19.4,19.4v165.4c0,10.72,8.69,19.4,19.4,19.4s19.4-8.69,19.4-19.4\
          v-165.4C1717.18,238.97,1708.49,230.28,1697.78,230.28z')
        g
          path.st2(d='M1798.94,0.8c-10.72,0-19.4,8.69-19.4,19.4v394.88c0,10.72,8.69,19.4,19.4,19.4s19.4-8.69,19.4-19.4V20.2\
          C1818.34,9.48,1809.66,0.8,1798.94,0.8z')
        g
          path.st2(d='M1900.6,0.8c-10.72,0-19.4,8.69-19.4,19.4v394.88c0,10.72,8.69,19.4,19.4,19.4s19.4-8.69,19.4-19.4V20.2\
          C1920,9.48,1911.31,0.8,1900.6,0.8z')
        g
          path.st2(d='M1697.78,143c-14.21,0-25.74,11.52-25.74,25.74c0,14.21,11.52,25.74,25.74,25.74\
          c14.21,0,25.74-11.52,25.74-25.74C1723.51,154.52,1711.99,143,1697.78,143z')
        g
          path.st2(d='M1266.64,0.44c-10.72,0-19.4,8.69-19.4,19.4v169.5c-26.56-28.64-64.48-46.61-106.53-46.61\
          c-80.14,0-145.34,65.2-145.34,145.34c0,80.14,65.2,145.34,145.34,145.34s145.34-65.2,145.34-145.34V19.84\
          C1286.04,9.12,1277.35,0.44,1266.64,0.44z M1140.7,394.6c-58.74,0-106.53-47.79-106.53-106.53\
          c0-58.74,47.79-106.53,106.53-106.53s106.53,47.79,106.53,106.53C1247.23,346.81,1199.44,394.6,1140.7,394.6z')
        g
          path.st2(d='M145.34,143.04C65.2,143.04,0,208.24,0,288.38c0,80.14,65.2,145.34,145.34,145.34\
          c42.05,0,79.97-17.97,106.53-46.61v57.12c0,58.74-47.79,106.53-106.53,106.53c-33.01,0-57.24-7.91-74.06-24.18\
          c-7.7-7.45-19.98-7.24-27.44,0.45c-7.45,7.7-7.25,19.99,0.45,27.44c24.41,23.62,57.47,35.1,101.04,35.1\
          c80.14,0,145.34-65.2,145.34-145.34V297.31c0-0.82-0.07-1.62-0.17-2.41c0.1-2.16,0.17-4.33,0.17-6.52\
          C290.67,208.24,225.47,143.04,145.34,143.04z M145.34,394.91c-58.74,0-106.53-47.79-106.53-106.53\
          c0-58.74,47.79-106.53,106.53-106.53s106.53,47.79,106.53,106.53C251.87,347.12,204.08,394.91,145.34,394.91z')
        g
          g
            path.st2(d='M476.99,167.04c2.46,0,4.9,0.63,7.06,1.84L577,220.74c4.51,2.51,7.35,7.28,7.43,12.44L586,339.61\
            c0.08,5.16-2.63,10.01-7.06,12.65l-91.39,54.58c-2.24,1.34-4.81,2.05-7.43,2.05c-2.46,0-4.9-0.63-7.06-1.84l-92.96-51.86\
            c-4.51-2.51-7.35-7.28-7.43-12.44l-1.57-106.44c-0.08-5.16,2.63-10.01,7.06-12.65l91.39-54.57\
            C471.8,167.75,474.37,167.04,476.99,167.04 M476.99,128.23c-9.46,0-18.92,2.52-27.33,7.54l-91.39,54.57\
            c-16.35,9.76-26.25,27.5-25.97,46.54l1.57,106.44c0.28,19.04,10.7,36.48,27.32,45.76l92.96,51.86\
            c8.08,4.51,17.03,6.75,25.96,6.75c9.46,0,18.92-2.52,27.33-7.54l91.39-54.57c16.35-9.76,26.25-27.5,25.97-46.54l-1.57-106.44\
            c-0.28-19.04-10.7-36.48-27.32-45.76l-92.96-51.86C494.88,130.48,485.93,128.23,476.99,128.23L476.99,128.23z')
          g
            path.st2(d='M478.62,351.16c-5.74,0-11.49-1.43-16.67-4.32l-27.02-14.86c-9.39-5.16-12.82-16.96-7.65-26.35\
            c5.16-9.39,16.96-12.81,26.35-7.65l24.87,13.68l24.5-14.38c9.25-5.43,21.13-2.33,26.56,6.91c5.42,9.24,2.33,21.13-6.91,26.56\
            l-26.68,15.66C490.68,349.57,484.66,351.16,478.62,351.16z M476.25,312.98c-0.02,0.01-0.04,0.02-0.06,0.04L476.25,312.98z\
            M480.7,312.87l0.04,0.02C480.73,312.88,480.72,312.88,480.7,312.87z')
        g
          g
            path.st2(d='M810.14,178.91c22.78,0,45.55,7.43,64.12,20.92c19.16,13.92,32.99,33.28,40,55.99\
            c17.72,57.44-14.59,118.58-72.03,136.3c-10.5,3.24-21.33,4.88-32.18,4.88c-22.78,0-45.55-7.43-64.12-20.92\
            c-19.16-13.92-32.99-33.28-40-55.99c-17.72-57.44,14.59-118.58,72.03-136.3C788.46,180.56,799.29,178.91,810.14,178.91\
            M810.14,140.11c-14.44,0-29.1,2.13-43.62,6.61c-78.01,24.07-121.74,106.81-97.67,184.82\
            c19.59,63.49,78.06,104.28,141.2,104.28c14.44,0,29.1-2.13,43.62-6.61c78.01-24.07,121.74-106.81,97.67-184.82\
            C931.75,180.9,873.28,140.11,810.14,140.11L810.14,140.11z')
          g
            path.st2(d='M806.24,349.57c-9.58,0-19.07-2.34-27.77-6.94c-14.07-7.44-24.41-19.91-29.1-35.13\
            c-3.13-10.14-3.5-20.95-1.06-31.26c2.47-10.43,12.92-16.9,23.35-14.41c10.43,2.47,16.88,12.92,14.41,23.35\
            c-0.84,3.58-0.71,7.34,0.38,10.89c1.64,5.31,5.24,9.66,10.15,12.25c4.91,2.6,10.54,3.12,15.84,1.49\
            c10.24-3.16,21.1,2.58,24.26,12.82c3.16,10.24-2.58,21.1-12.82,24.26C818.08,348.68,812.15,349.57,806.24,349.57z')