svg(width='47px', height='47px', viewBox='0 0 47 47', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  // Generator: Sketch 53.2 (72643) - https://sketchapp.com
  title Group 17
  desc Created with Sketch.
  g#Good-pill(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g#Goodpill(transform='translate(-1402.000000, -9544.000000)')
      g#Group-10(transform='translate(0.000000, 9454.000000)')
        g#Group-17(transform='translate(1402.000000, 90.000000)')
          circle#Oval-Copy-7(fill='#38A1F3', cx='23.5', cy='23.5', r='23.5')
          path#Path-Copy-3(d='M36,17.1296832 C35.1534708,17.4910816 34.2451573,17.7361779 33.290806,17.8456003 C34.2652635,17.2833889 35.0111863,16.3916426 35.3647179,15.3323228 C34.4506543,15.8529668 33.4416968,16.2310211 32.366633,16.435962 C31.5057476,15.5511316 30.281221,15 28.9230162,15 C26.3173224,15 24.2045886,17.0355408 24.2045886,19.5446543 C24.2045886,19.9005128 24.2462667,20.2480794 24.3267669,20.5804385 C20.4060121,20.3907052 16.929361,18.5808891 14.6024863,15.8308071 C14.1957389,16.5010289 13.964348,17.2819768 13.964348,18.1156081 C13.964348,19.69282 14.797949,21.0844627 16.0627256,21.89865 C15.2894809,21.8737385 14.5622362,21.6687976 13.9255636,21.3281468 L13.9255636,21.3849219 C13.9255636,23.5866241 15.5525156,25.4241399 17.7097838,25.8423496 C17.3145365,25.9448201 16.8977547,26.0015952 16.4665792,26.0015952 C16.1619039,26.0015952 15.8672629,25.9725197 15.5783719,25.9171204 C16.1791163,27.7241848 17.9210685,29.0382685 19.9849461,29.0742961 C18.3709222,30.2928615 16.3357947,31.0170704 14.1253482,31.0170704 C13.7444947,31.0170704 13.3693535,30.9949107 13,30.9547553 C15.0883057,32.2467156 17.5675369,33 20.2321589,33 C28.9115914,33 33.6559128,26.0736142 33.6559128,20.0667104 L33.6400909,19.4782115 C34.5670826,18.841193 35.3690398,18.0408373 36,17.1296832 Z', fill='#FFFFFF')
