.steps {
  padding-top: 156px;
  padding-bottom: 160px;
  background-color: #fafafa;

  &__wrapper {
    text-align: center;
  }

  &__title {
    @include h3();
    max-width: 730px;
    margin: 0 auto;
    margin-bottom: 56px;
    font-family: $secondary-font;
    text-align: center;
    color: $blue;
  }

  &__subtitle {
    @include h4();
    max-width: 815px;
    margin: 0 auto;
    margin-bottom: 110px;
    text-align: center;
  }

  &__switcher {
    display: inline-block;
    margin-bottom: 75px;
  }

  &__list {
    @include ul-reset();
    display: flex;
    justify-content: space-around;
    margin-bottom: 87px;
  }

  &__item {
    padding: 0 38px;
    padding-top: 255px;
    text-align: left;

    &:last-child {
      padding-right: 0;
    }

    &--step-1 {
      @include decorative-img('../img/step-1.png', 309px, 214px, 0, 66%);

      &::after {
        transform: translateX(50%);
      }
    }
    &--step-2 {
      @include decorative-img('../img/step-2.png', 264px, 170px, 39px, 60%);

      &::after {
        transform: translateX(50%);
      }
    }
    &--step-3 {
      @include decorative-img('../img/step-3.png', 264px, 168px, 37px, 59%);

      &::after {
        transform: translateX(50%);
      }
    }
  }

  &__item-title {
    @include h5();
    margin: 0;
    margin-bottom: 31px;
  }

  &__item-text {
    max-width: 355px;
    padding-right: 40px;
    margin: 0;
    margin-bottom: 30px;
    line-height: 32px;
    color: rgba($gray-200, 0.7);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    padding: 15px 51px;
  }

  @media #{$md} {
    &__item {
      padding: 0 20px;
      padding-top: 230px;

      &:last-child {
        padding-right: 20px;
      }

      &::after {
        width: 240px;
      }

      &--step-1 {
        &::after {
          top: 20px;
        }
      }
    }

    &__item-text {
      padding-right: 0;
    }
  }

  @media #{$sm} {
    padding-top: 40px;
    padding-bottom: 75px;

    &__title {
      max-width: 65%;
    }

    &__column {
      &:first-of-type {
        &::after {
          top: -420px;
          right: 10px;
          width: 360px;
        }
      }
    }

    &__list {
      padding: 0;
    }

    &__item {
      padding-top: 180px;
      padding-left: 12px;
      padding-right: 12px;

      &::after {
        width: 180px;
      }
    }

    &__item-text {
      margin-bottom: 18px;
      font-size: 12px;
      line-height: 24px;
    }
  }

  @media #{$xs} {
    padding-top: 61px;
    padding-bottom: 74px;

    &__column {
      width: 100%;

      &:first-of-type {
        padding-right: 0;

        &::after {
          top: -113px;
          right: -59px;
          width: 172px;
          height: 260px;
        }
      }

      &:last-of-type {
        padding-left: 0;
      }
    }

    &__title {
      max-width: none;
      margin-bottom: 23px;
    }

    &__subtitle {
      margin-bottom: 38px;
      font-size: 12px;
      line-height: 22px;
    }

    &__switcher {
      margin-bottom: 85px;
    }

    &__list {
      flex-direction: column;
      margin-bottom: 45px;
    }

    &__item {
      text-align: center;

      &::after {
        left: 50%;
        transform: translateX(-50%);
      }

      &--step-1 {
        &::after {
          top: -15px;
          width: 214px;
          height: 148px;
        }
      }
      &--step-2 {
        padding-top: 223px;

        &::after {
          top: 65px;
          width: 180px;
          height: 116px;
        }
      }
      &--step-3 {
        padding-top: 237px;

        &::after {
          top: 63px;
          width: 195px;
          height: 124px;
        }
      }
    }

    &__item-title {
      font-size: 16px;
      margin-bottom: 24px;
    }

    &__item-text {
      max-width: none;
      margin-bottom: 22px;
      font-size: 12px;
      line-height: 22px;
    }

    &__btn {
      padding: 10px 29px;
    }
  }
}
