mixin header()
  header.main-header
    .main-header__wrapper
      .main-header__logo
        include /blocks/logo
      .main-header__main-nav.main-nav
        ul.main-nav__list
          li.main-nav__item
            a(href="#") Check Stock
          li.main-nav__item
            a(href="#").link.link--underlined Sign Up
          li.main-nav__item
            a(href="#") Sign In
