body {
  margin: 0;
  font-family: $main-font;
  font-size: $main-font-size;
  font-weight: $regular;
  background-color: $body-color;
  color: $gray-200;
}

img {
  max-width: 100%;
}

b {
  font-weight: $bold;
}

h1, h2 {
  font-weight: $medium;
}